.wrapper {
    display: flex;
    gap: 72px;
    justify-content: center;
    padding: 84px 120px 104px;
    font-family: var(--font-family);
}

.img {
    border-radius: 19px;
    width: 640px;
    height: 512px;
    object-fit: contain;
    margin-bottom: 40px;
}

.mainTitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33;
    color: var(--main);
}

.colored {
    color: var(--button);
    margin-bottom: 32px;
}

.sectionTitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--main);
}

.mainTitleDiv {
    display: flex;
    gap: 16px;
    align-items: baseline;
    margin-bottom: 8px;
    & p {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        color: var(--gray);
    }
}

.addressDiv {
    display: flex;
    margin-bottom: 16px;
    gap: 16px;
    & p {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    & svg {
        margin-right: 4px;
        fill: var(--main);
    }
}

.mainText {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: var(--main);
}

.conditionsDiv {
    margin-top: 68px;
    display: flex;
    flex-direction: column;
    gap: 110px;
}

.ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
    & li {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        color: var(--main);
        height: 20px;
        display: flex;
        align-items: center;
    }
}

.divDescription {
    margin-top: 20px;
}

.svg {
    margin-right: 8px;
    fill: var(--main);
}

.loader {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}