.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 124px;
    position: relative;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 32px;
    justify-content: center;
}

.li {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 320px;
}

.btn {
    margin-top: 80px;
    border: 1px solid var(--button);
    border-radius: 12px;
    width: 156px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: var(--main);
    background-color: transparent;
    transition: border 0.3s ease-in-out;
}

.btn:hover {
    border: 1px solid var(--button-hover);
}